.Details {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  align-items: center;
  width: 960px;
  margin: auto;
}

.Details .info {
  flex: 1;
}

.Details .portrait {
  flex: 1;
}

.Details .info img {
  width: 100%;
  height: auto;
}

.Details .info h1 {
  padding: 0 1rem;
}

.Details .info p {
  padding: 0 1rem;
}

.Details .info div {
  margin-right: 1em;
  background-color: rgb(230, 0, 18);
  border: 2px solid rgb(230, 0, 18);
  border-radius: 0.5em;
}

.Details .portrait img {
  background-image: url(https://www.smashbros.com/assets_v2/img/top/bg_img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5em;
}